* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #7f7fd5, #86a8e7, #91eae4);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-width: 90%;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.quiz-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    text-align: left;
}

label {
    margin-left: 10px;
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#quiz-header {
    margin-bottom: 20px;
}
